@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:wght@600&family=Otomanopee+One&display=swap');

body ,html{
  margin: 0;
  font-family: 'Montserrat', 'Nunito','Otomanopee One' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color: black !important;
}

.navbar-brand{
  color: black !important;
  font-weight: bold ;
}

.flex-container{
  display: flex !important;
}

.container1{
  background-color: rgb(213, 160, 91);
  width: 100vw !important;
  height: 42vh;
  margin-top: 0px !important;
  
}

.mr-0 {
  margin-right: 0px !important;
}